/*


    Table Elements


*/



/* -------------------------------------

    Imports

------------------------------------- */

@import "../Styles/core.scss";


/* -------------------------------------

    Variables

------------------------------------- */

$cell-hpadding: 8px !default;
$cell-vpadding: 8px !default;

$color-table--header_text: $color-nav !default;
$color-table--header_bg: #BDC3C7 !default;

$color-table--body_text: #2C3E50 !default;
$color-table--body_bg: #ECF0F1 !default;


/* -------------------------------------

    Mixins

------------------------------------- */

@mixin cell-sizer($cells: 4, $padding: 10px) {
    flex-basis: calc(( 100% / #{$cells} ) - #{$padding} );
}


/* -------------------------------------

    Layout Classes

------------------------------------- */

section.table {
    position: relative;
    // Fixed Header Scrollbar Bug Fix
    &.fixed-header .table-header {
        padding-right: $table-scroller-width;
    }
}

.table-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.table-cell {
    flex: 1;
    padding: $cell-vpadding $cell-hpadding;
}

// Truncated Cells
article.truncate-cells .table-cell {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

article.table-body {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    // Scroller style is Webkit Only
    // Scroller - Size
    .table-body::-webkit-scrollbar {
        width: 6px;
        background: $color-table--body_bg;
    }
    // Scroller - Style
    .table-body::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background: #2C3E50;
        // Padding adjustments using border
        border: 2px solid transparent;
        background-clip: padding-box;
    }
}


/* -------------------------------------

    Table Styles

------------------------------------- */

// Header Row
section.table header.table-header {
    font-size: 12px;
    font-weight: 600;
    line-height: auto;
    color: $color-table--header_text;
    background: $color-table--header_bg;
}

// Body Row
article.table-body section.table-row {
    font-size: 12px;
    font-weight: 400;
    line-height: auto;
    color: $color-table--body_text;
    background: $color-table--body_bg;
}
