/*


    Grids


*/



/* -------------------------------------

    Imports

------------------------------------- */

@import "utils/functions.scss";


/* -------------------------------------

    Variables

------------------------------------- */

$page-width:    1040px;
$gutter-size:   16px;


/* -------------------------------------

    Mixins/Functions

------------------------------------- */

@mixin center-grid(
    $width: 100%,
    $max-width: $page-width
) {
    width: $width;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

@mixin flex-container(
    $direction: row,
    $wrap: nowrap,
    $justify-content: flex-start,
    $align-items: stretch,
    $align-content: stretch
) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify-content;
    align-items: $align-items;
    align-content: $align-content;
}

@mixin flex-items(
    $basis: auto,
    $grow: 0,
    $shrink: 1,
    $collapsed: false,
    $nested: false
) {
    flex-basis: $basis;
    flex-grow: $grow;
    flex-shrink: $shrink;
}


/* -------------------------------------

    Common Classes

------------------------------------- */

// Test Grid - Apply on Containers
.test-grid {
    font-size: 12px;
    color: #666666;
    text-align: center;
    padding-top: $gutter-size / 2;
    padding-bottom: $gutter-size / 2;
    background-color: rgba(222, 219, 211, 0.7);
    outline: solid thin darken(#F3F2EF, 20%);
    > * {
        padding: 10px;
        background-color: rgba(222, 219, 211, 0.7);
        outline: solid thin darken(#F3F2EF, 20%);
    }
}

.hide { display: none; }

// Hide but maintain layout
.invisible { visibility: hidden; }
