/*


    Type Elements


*/



/* -------------------------------------

    Imports

------------------------------------- */

@import "utils/functions";
@import "utils/mixins";


/* -------------------------------------

    Variables

------------------------------------- */

$type-grid: false;

// Base Styles
$system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-stack: $system-fonts;

$base-font-size: 14px;    // Base Font Size
$base-rhythm: 24px;       // Vertical Rhythm (px)
$base-weight: normal !default;

// Colours
$color-gray-100: #1B1C1C !default;
$color-links: #399CD3 !default;
$color-links--hover: #0A67A3 !default;
$color-code: #E67E22 !default;


/* -------------------------------------

    Mixins

------------------------------------- */

// Typesetter
@mixin type-setter($family: $font-stack, $weight: $base-weight, $size: $base-font-size, $rhythm-mode: true, $lines: auto) {
    font-family: $family;
    font-weight: $weight;
    font-size: rem-calc($size, 16px);
    @if $rhythm-mode {
        line-height: rhythm-calc($base-rhythm, $size, $lines);
    }
    @else {
        line-height: $lines;
    }
}

@mixin leader-setter($lines: 0) { margin-top: lines-calc($lines); }

@mixin trailer-setter($lines: 0) { margin-bottom: lines-calc($lines); }


/* -------------------------------------

    Classes

------------------------------------- */

// Font Smooth
.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Truncate Lengthy Text
.truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* -------------------------------------

    Setup

------------------------------------- */

html, body {
    font-family: $font-stack;
    font-size: get-val($base-font-size) / 16 * 100%;
    line-height: $base-rhythm;
    font-weight: $base-weight;
}

@if $type-grid {
    body { background-image: url("http://basehold.it/i/#{get-val($base-rhythm)}"); }
}


/* -------------------------------------

    Headers

------------------------------------- */

h1 {
    @include type-setter($family: $font-stack, $weight: 300, $size: 44px, $lines: 3);
    @include leader-setter(0);
    @include trailer-setter(1);
    // Styles
    color: $color-gray-100;
}

h2 {
    @include type-setter($family: $font-stack, $weight: 400, $size: 27px, $lines: auto);
    @include leader-setter(0);
    @include trailer-setter(0.5);
    // Styles
    color: $color-gray-100;
}

h3 {
    @include type-setter($family: $font-stack, $weight: 400, $size: 23px, $lines: 1.5);
    @include leader-setter(0);
    @include trailer-setter(1.5);
    // Styles
    color: $color-gray-100;
}

h4 {
    @include type-setter($family: $font-stack, $weight: 400, $size: 18px, $lines: 1.5);
    @include leader-setter(0);
    @include trailer-setter(1.5);
    // Styles
    color: $color-gray-100;
}

h5 {
    @include type-setter($family: $font-stack, $weight: 600, $size: 14px, $lines: auto);
    @include leader-setter(0);
    @include trailer-setter(1);
    // Styles
    color: $color-gray-100;
}

h6 {
    @include type-setter($family: $font-stack, $weight: 600, $size: 12px, $lines: 1.5);
    @include leader-setter(0);
    @include trailer-setter(1.5);
    // Styles
    color: $color-gray-100;
}


/* -------------------------------------

    Text and Lists

------------------------------------- */

p {
    @include type-setter($family: $font-stack, $weight: 300, $size: 14px, $lines: 1);
    @include leader-setter(0);
    @include trailer-setter(1);
    // Styles
    color: $color-gray-100;
}

a {
    // Styles
    color: $color-links;
    @include transition($prop: color, $timing: 0.3s);
    &:hover {
        // Styles
        color: $color-links--hover;
    }
}

ul {
    // Padding, Margin
    padding-left: 20px;
    @include leader-setter(0);
    @include trailer-setter(1);
    // Styles
    list-style-position: outside;
    list-style-type: square;
    li {
        @include type-setter($family: $font-stack, $weight: 300, $size: 14px, $lines: 1);
        // Styles
        color: $color-gray-100;
    }
}

ol {
    // Padding, Margin
    padding-left: 20px;
    @include leader-setter(0);
    @include trailer-setter(1);
    // Styles
    list-style-position: outside;
    list-style-type: normal;
    li {
        @include type-setter($family: $font-stack, $weight: 300, $size: 14px, $lines: 1);
        // Styles
        color: $color-gray-100;
    }
}


/* -------------------------------------

    Blockquotes and Cite

------------------------------------- */

blockquote {
    @include type-setter($family: $font-stack, $weight: 300, $size: 14px, $lines: 1);
    &:before {
        content: open-quote;
    }
    &:after {
        content: close-quote;
    }
}

cite {
    @include type-setter($family: $font-stack, $weight: 300, $size: 14px, $lines: 1);
    @include trailer-setter(1);
    display: block;
    // Styles
    color: $color-gray-100;
    font-style: normal;
    text-transform: uppercase;
}


/* -------------------------------------

    Codes

------------------------------------- */

code {
    @include type-setter($family: monospace, $weight: 600, $size: 16px, $lines: 1);
    // Styles
    color: $color-code;
    font-style: normal;
}
